body{
    margin:0px;
}
p{
    text-align: justify;
}
#header{
    text-align: center;
}
#logo{
    width:250px;
    height:auto;
}
#menu-bar{
    text-align: center;
    background-color: skyblue;

}
#menu-bar li{
    display: inline-block;
    padding:15px 10px;
    color:aliceblue;
    font-size: 18px;
    font-weight: bold;
}
#container{
    text-align: center;
    padding:50px 100px;

}
#about-img{
    width:100%;
}
.sticky{
    position:fixed;
    top:0;
    width:100%;
}